:root {
  --ecommerce-dark-blue: #002772;
  --ecommerce-pink: #FDE2FF;
  --ecommerce-black: #1E1E1E;
  --ecommerce-purple: #720060;
  --ecommerce-light-blue: #D6E6FF;
  --ecommerce-dark-gray: #3F3F3F;
  --ecommerce-light-gray: #DCDCDC;
  --ecommerce-white: #FFFFFF;
}
